<%- include('../components/header'); %>

 <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 px-0 mt-3">
        <div class="card">
          <div class="card-header">
            案件名 
            <h3 class="mt-2">
            <%-project.projectName%>
            </h3>
          </div>
          <div class="card-body">
            <div class="form-row pull-right">
              <div class="form-group col-md-2 ml-auto">
              <form 
                  action="http://localhost:3000/project/<%-project._id%>/edit"
                  method="GET"
                >
                
                  <input type="hidden" name="id" value="<%-project._id%>" />
                  <button type="submit" name="button">編集
                    
                  </button>
                </form>
              </div>
              <div class="form-group col-md-2">
                <form 
                  action="http://localhost:3000/project/<%-project._id%>/delete"
                  method="post"
                >
                
                  <input type="hidden" name="id" value="<%-project._id%>" />
                  <button type="submit" name="button">削除</button>
                
                </form>
              </div>
            </div>
            <h5 class="card-title font-weight-bold">案件詳細</h5>
            <p class="card-text"><%-project.detail%></p>
            <h5 class="card-title font-weight-bold">求めるスキル</h5>
            <p class="card-text"><%-project.demandSkill%></p>
            <h5 class="card-title font-weight-bold">募集人数</h5>
            <p class="card-text"><%-project.applicants%></p>
            <h5 class="card-title font-weight-bold">納期</h5><%const nowMonth=project.paymentDate.getMonth()+1%>
            <p class="card-text"><%-project.paymentDate.getFullYear() + "/" + nowMonth + "/"+ project.paymentDate.getDate() %></p>
            <h5 class="card-title font-weight-bold">金額</h5>
            <p class="card-text"><%-project.amount%></p>
           
            <% if(messages.err){ %>
              <div class="alert alert-danger" role="alert"><%= messages.err %></div><br/>
            <% } %>
            </div>
            <div class="card-body">
                <h5 class="card-title font-weight-bold">応募者</h5>
            <% for(var i in userdetail){ %>
            <div class="row">
              <div class="col">
              <% if(userdetail[i].name == ""){ %>
                <p class="card-text"><%- userdetail[i][0].u_email %></p>
              <% }else{ %>
                <p class="card-text"><%- userdetail[i][0].name %></p>
              <% } %>
              </div>
              <div class="col">
                <form method="post" action="/project/<%-project._id%>/orderProject">
                  <input type="hidden" name="email" value="<%-userdetail[i][0].u_email%>"/>
                  <input type="hidden" name="p_id" value="<%-project._id%>"/>
                  <button type="submit" class="btn btn-primary">発注</button>
                </form>

              </div>
            </div>
            <% } %>
            <div class="text-center mt-5">
              <form method="post" action="/project/<%-project._id%>/finishProject">
                <button type="submit" class="btn btn-primary">完了</button>
              </form>
        </div>
        </div>
        </div>
        
        </div>
      </div>
    </div>
  </div>

<%- include('../components/footer'); %>