<div class="container">
<<<<<<< HEAD
    <div class="row justify-content-center">
      <div class="col-sm-6 px-0 mt-3">
        <div class="card">
  <div class="card-header">
    案件一覧
  </div>
  <div class="list-group">
  <% for (var i in projects) { %>
  <a href="/projectDetail/<%- i %>" class="border-top-0 border-right-0 border-left-0 list-group-item list-group-item-action">
    <h5 class="card-title"><%- projects[i].projectName %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%- projects[i].userId %></h6>
    <p class="card-text"><%- projects[i].amount %></p>
  </a>
  <% } %>
</div>
</div>
=======
  <div class="row justify-content-center">
    <div class="col-sm-6 px-0 mt-3">
      <div class="card">
        <div class="card-header">
          案件一覧
          <a href="/project/new" class="card-link">
            [ADD]
          </a>
        </div>
        <div class="list-group">
          <% for (var i in projects) { %>

          <a
            href="/project/<%-projects[i]._id%>"
            class="border-top-0 border-right-0 border-left-0 list-group-item list-group-item-action"
          >
            <h5 class="card-title"><%- projects[i].projectName %></h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <%- projects[i].userId %>
            </h6>
            <p class="card-text"><%- projects[i].amount %></p>
          </a>

          <form
            action="http://localhost:3000/project/<%-projects[i]._id%>/edit"
            method="GET"
          >
            <input type="hidden" name="id" value="<%-projects[i]._id%>" />
            <button type="submit" name="button">更新</button>
          </form>
          <form
            action="http://localhost:3000/project/<%-projects[i]._id%>/delete"
            method="post"
          >
            <input type="hidden" name="id" value="<%-projects[i]._id%>" />
            <button type="submit" name="button">削除</button>
          </form>
          <% } %>
        </div>
>>>>>>> change
      </div>
    </div>
  </div>
</div>
