<%- include('components/header'); %>

 <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 px-0 mt-3">
        <div class="card">
          <div class="card-header">
            案件名 <%-project.projectName%>
          </div>
          <div class="card-body">
            <h5 class="card-title">案件詳細</h5>
            <p class="card-text"><%-project.detail%></p>
            <h5 class="card-title">求めるスキル</h5>
            <p class="card-text"><%-project.demandSkill%></p>
            <h5 class="card-title">募集人数</h5>
            <p class="card-text"><%-project.applicants%></p>
            <h5 class="card-title">納期</h5><%const nowMonth=project.paymentDate.getMonth()+1%>
            <p class="card-text"><%-project.paymentDate.getFullYear() + "/" + nowMonth + "/"+ project.paymentDate.getDate() %></p>
            <h5 class="card-title">金額</h5>
            <p class="card-text"><%-project.amount%></p>
            <a href="#" class="btn btn-primary">応募</a>
            </div>
            <div class="card-body">
          <div class="row">
              <div class="col-4">
                <img class="rounded-circle" src="/images/sample.jpg" style="height:50px;width:50px;" /> 
              </div>
              <div class="col-4">
                <p class="card-text">user name</p>
              </div>
              <div class="col-4">
                <a href="#" class="btn btn-primary">詳細</a>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <img class="rounded-circle" src="/images/sample.jpg" style="height:50px;width:50px;" /> 
              </div>
              <div class="col-4">
                <p class="card-text">user name</p>
              </div>
              <div class="col-4">
                <a href="#" class="btn btn-primary">詳細</a>
              </div>
              
            </div>
            <div class="row">
              <div class="col-4">
                <img class="rounded-circle" src="/images/sample.jpg" style="height:50px;width:50px;" /> 
              </div>
              <div class="col-4">
                <p class="card-text">user name</p>
              </div>
              <div class="col-4">
                <a href="#" class="btn btn-primary">詳細</a>
              </div>
            </div>
        </div>
        </div>
        </div>
        
        </div>
      </div>
    </div>
  </div>

<%- include('components/footer'); %>