<%- include('../components/header'); %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6 px-0 mt-3">
      <div class="card">
        <div class="card-header font-weight-bold">
          ユーザー画面
        </div>
        <div class="card-body">


        <h5 class="card-title font-weight-bold">名前</h5>
            <% if(userDetail['name'] == '' || userDetail['name'] == null){ %>


              <p class="card-text"><%- userDetail['u_email'] %></p>
            <% }else{ %>
              <p class="card-text"><%- userDetail['name'] %></p>
            <% } %>
        </div>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">紹介</h5>
          <p class="card-text" style="min-height: 50px">
            <%- userDetail['detail'] %>
          </p>
          <h5 class="card-title font-weight-bold">完了案件</h5>
          <div class="list-group">
            <% for(var i in finishProject){ %>
              <a href="/project/<%-finishProject[i]._id %>" class="list-group-item list-group-item-action">
                <div class="text-muted">案件名</div>
                <h4 class="card-title font-weight-bold"><%- finishProject[i].projectName %></h4>
                <div class="text-muted">メールアドレス</div>
                <h6 class="mb-2 font-weight-bold"><%- finishProject[i].userId %></h6>
                <div class=" text-mutedd">金額</div>
                <p class="card-text font-weight-bold"><%- finishProject[i].amount %>円</p>
              </a>
              <% } %>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">進行案件</h5>
          <div class="list-group">
            <% for(var i in progressProjects){ %>
              <a href="/project/<%-progressProjects[i]._id %>" class="list-group-item list-group-item-action">
                <div class=" text-muted">案件名</div>
                <h4 class="card-title font-weight-bold"><%- progressProjects[i].projectName %></h4>
                <div class=" text-muted">メールアドレス</div>
                <h6 class="mb-2 font-weight-bold"><%- progressProjects[i].userId %></h6>
                <div class=" text-muted">金額</div>
                <p class="card-text font-weight-bold"><%- progressProjects[i].amount %>円</p>
              </a>
              <% } %>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">発注案件</h5>
          <div class="list-group">
            <% for(var i in orderProject){ %>
              <a href="/project/<%-orderProject[i]._id %>" class="list-group-item list-group-item-action">
                <div class=" text-muted">案件名</div>
                <h4 class="card-title font-weight-bold"><%- orderProject[i].projectName %></h4>
                <div class="text-muted">メールアドレス</div>
                <h6 class=" mb-2 font-weight-bold"><%- orderProject[i].userId %></h6>
                <div class=" text-muted">金額</div>
                <p class="card-text font-weight-bold"><%- orderProject[i].amount %>円</p>
                
                
              </a>
              <% } %>
            </a>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">応募案件</h5>
          <div class="list-group">
          <% for(var i in projects){ %>
            <a href="/project/<%-projects[i]._id %>" class="list-group-item list-group-item-action">
              <div class=" text-muted">案件名</div>
              <h4 class="card-title font-weight-bold"><%- projects[i].projectName %></h4>
              <div class="text-muted">メールアドレス</div>
              <h6 class=" mb-2 font-weight-bold"><%- projects[i].userId %></h6>
              <div class="text-muted">金額</div>
              <p class="card-text font-weight-bold"><%- projects[i].amount %>円</p>
            </a>
            <% } %>
          </div>
        </div>
        <div class="mb-3 text-center">
        <a href="http://localhost:3000/users/userDetail/edit/<%-user%>" class="btn btn-primary">編集</a>
      </div>
      </div>
    </div>
  </div>
</div>



<%- include('../components/footer'); %>
